@import "reset.css";
@import "main.css";
@font-face { 
    font-family: "KazimirLight";
    src: url("../fonts/KazimirLight/KazimirLight.eot");
    src: url("../fonts/KazimirLight/KazimirLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirLight/KazimirLight.woff") format("woff"),
    url("../fonts/KazimirLight/KazimirLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face { 
    font-family: "KazimirRegular";
    src: url("../fonts/KazimirRegular/KazimirRegular.eot");
    src: url("../fonts/KazimirRegular/KazimirRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirRegular/KazimirRegular.woff") format("woff"),
    url("../fonts/KazimirRegular/KazimirRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "KazimirMedium";
    src: url("../fonts/KazimirMedium/KazimirMedium.eot");
    src: url("../fonts/KazimirMedium/KazimirMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirMedium/KazimirMedium.woff") format("woff"),
    url("../fonts/KazimirMedium/KazimirMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face { 
    font-family: "KazimirBold";
    src: url("../fonts/KazimirBold/KazimirBold.eot");
    src: url("../fonts/KazimirBold/KazimirBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirBold/KazimirBold.woff") format("woff"),
    url("../fonts/KazimirBold/KazimirBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face { 
    font-family: "KazimirBlack";
    src: url("../fonts/KazimirBlack/KazimirBlack.eot");
    src: url("../fonts/KazimirBlack/KazimirBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirBlack/KazimirBlack.woff") format("woff"),
    url("../fonts/KazimirBlack/KazimirBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face { 
    font-family: "KazimirLightItalic";
    src: url("../fonts/KazimirLightItalic/KazimirLightItalic.eot");
    src: url("../fonts/KazimirLightItalic/KazimirLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirLightItalic/KazimirLightItalic.woff") format("woff"),
    url("../fonts/KazimirLightItalic/KazimirLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face { 
    font-family: "KazimirItalic";
    src: url("../fonts/KazimirItalic/KazimirItalic.eot");
    src: url("../fonts/KazimirItalic/KazimirItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirItalic/KazimirItalic.woff") format("woff"),
    url("../fonts/KazimirItalic/KazimirItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face { 
    font-family: "KazimirMediumItalic";
    src: url("../fonts/KazimirMediumItalic/KazimirMediumItalic.eot");
    src: url("../fonts/KazimirMediumItalic/KazimirMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirMediumItalic/KazimirMediumItalic.woff") format("woff"),
    url("../fonts/KazimirMediumItalic/KazimirMediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}
@font-face { 
    font-family: "KazimirBoldItalic";
    src: url("../fonts/KazimirBoldItalic/KazimirBoldItalic.eot");
    src: url("../fonts/KazimirBoldItalic/KazimirBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirBoldItalic/KazimirBoldItalic.woff") format("woff"),
    url("../fonts/KazimirBoldItalic/KazimirBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}
@font-face { 
    font-family: "KazimirBlackItalic";
    src: url("../fonts/KazimirBlackItalic/KazimirBlackItalic.eot");
    src: url("../fonts/KazimirBlackItalic/KazimirBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirBlackItalic/KazimirBlackItalic.woff") format("woff"),
    url("../fonts/KazimirBlackItalic/KazimirBlackItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 900;
}